body {
	background: blue;
	word-wrap: wrap;
}

div {
	background: #bdbdbd; /*Gray Backgorund to make the div visible */
	margin: 0 auto;
	width: 400px; /*This should be the max-widh of your website*/
	display: block;
	padding: 10px;
}
